* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navBack {
    background-image: url(./assets/fondoNav4.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-position-y: 10% ;
    background-size: cover;
}

.logoDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 5px 10px 5px 10px;
}

.logo {
    height: 100px;
}

.logoName {
    font-size: 80px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    cursor: default;
}

.bttnDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px 0 10px 10px;
}

.bttn {
    background: none;
    border: 0;
    color: inherit;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.bttn:hover {
    color: black;
    transition: 0.5s;
}
